.App {
  text-align: center;
}

/* body {

} */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  background-color: ghostwhite;
  width: 400px;
  border-radius: 16px;
}